a {
  color: #f44336;
}
.next-race-block {
  background-color: #1a1a1a;
  color: #fff;
  padding: 9px;
  text-align: center;
}
.next-race-block h3 {
  color: #f44336;
  font-size: 1.6em;
  border-bottom: 1px solid #f44336;
}
.next-race-block img {
  display: table-row;
  margin: auto;
}
.one-sidebar #content {
  width: 75%;
}
#sidebar-first,
#sidebar-second {
  width: 25%;
}
#main-menu-links {
  padding: 10px;
  display: inline;
}
#main-menu-links ul {
  display: inline;
}
#main-menu-links ul li {
  list-style: none;
  padding: 5px;
  float: left;
}
