a {
  color: #f44336;
}
.next-race-block {
  background-color: #1a1a1a;
  color: #fff;
  padding: 9px;
  text-align: center;
}
.next-race-block h3 {
  color: #f44336;
  font-size: 1.6em;
  border-bottom: 1px solid #f44336;
}
.next-race-block img {
  display: table-row;
  margin: auto;
}
.one-sidebar #content {
  width: 75%;
}
#sidebar-first,
#sidebar-second {
  width: 25%;
}
#main-menu {
  clear: both;
  margin: -21px 0;
}
#main-menu-links {
  padding: 10px;
  display: inline;
}
#main-menu-links li {
  background-color: #edefec;
  list-style: none;
  padding: 10px;
  float: left;
  font-size: 22px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-left: 20px;
  color: green;
}
#main-menu-links li:first-child {
  margin-left: 0;
}
#main-menu-links li a {
  background: none;
  color: #000;
}
#main-menu-links li a:hover,
#main-menu-links li a:focus {
  text-decoration: none;
}
#main-menu-links li a.active {
  background: none !important;
}
