// main: main.less

#main-menu-links {
    padding: 10px;
    display: inline;
    ul {
        display: inline;
        li {
            list-style: none;
            padding: 5px;
            float: left;
        }
    }
}

